<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <!-- 1-2 보안문자가 일치하지 않을 경우-->
    <div class="popup">
        <div class="popup_body popup_body_btn">
            <div class="txt_desc">
                보안문자가 일치하지 않습니다.
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap">
                <a href="#" class="btn _press">확인</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>