<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<div class="popup_all">
    <div class="popup_header">
        <span>데이터 2배쿠폰</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press"><i class="sprite sprite_common sprite_icon_close"></i></a>
    </div>
    <div class="popup_body">
        <div class="section_contents">
            <div class="area_method_txt">
                <div class="title"><i class="sprite sprite_charge sprite_icon_notice"></i>유의사항</div>
                <div class="dot_before">
                        데이터 2배 쿠폰은 엘지 유플러스 휴대폰을 2년 이상<br>
                        사용한 고객님께 발송합니다. 단, LTE폰을 사용하시는<br>
                        고객님은 대상 요금제를 이용할 때만 쿠폰을 사용할 수<br>
                        있습니다.
                    <p class="line_before">
                        LTE 음성/데이터 80/85/89.9 요금제 고객은 데이터<br>
                        11GB 제공, LTE표준 요금제는 사용 불가
                    </p>
                    <p class="line_before">
                        대상 요금제 : 데이터 요금제, Video 요금제, (구) LTE
                        Video 요금제, (구)데이터중심 요금제, (구)데이터중심
                        Video, LTE 음성 요금제, LTE선택형 요금제, (구)LTE
                        선택형 요금제, LTE 통합형 요금제, 청소년 스페셜
                        요금제, LTE 복지 요금제, LTE 특수 요금제, LTE 사장님
                        요금제, (구)데이터 무제한 요금제, LTE 데이터쉐어링
                        500MB, LTE 패드 요금제, LTE 라우터 요금제, LTE
                        Wearable 요금제, LTE 빔/액션캠 요금제, LTE 음성/
                        데이터 요금제
                    </p>
                </div>
                <div class="dot_before">
                    쿠폰 데이터를 받은 후 해당 요금제에서 다른 요금제로<br>
                    이동하면 데이터는 이용할 수 없습니다.
                </div>
                <div>
                    [데이터사용]
                </div>
                <div class="dot_before">
                    쿠폰을 사용하여 받은 데이터는 데이터 주고받기/데이터
                    쉐어링/ mVoIP로 이용 불가합니다.<br>
                    데이터 소진 순서 : 쿠폰 데이터 > 프로모션 데이터 ><br>
                    데이터 주고받기로 받은 데이터 > 요금제 기본제공량
                </div>
                <div class="dot_before">
                    쿠폰 사용 후 요금제 변경 시, 쿠폰으로 제공된 데이터는
                </div>
            </div>
        </div>

    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>

<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>