<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <!--1-1 성명, 성별, 보안문자 등 입력되지 않은 정보가 있을 경우 -->
    <div class="popup">
        <div class="popup_body popup_body_btn">
            <div class="txt_desc">
                모든 정보를 입력하셔야 <br>
                인증번호가 발송됩니다.
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap">
                <a href="#" class="btn">확인</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>