<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!--<img src="../../resources/images/psd/09.%20Common/(공통)법정%20대리인%20동의화면.png" alt="" class="psd_img">-->
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <a href="#" class="header_btn header_btn_left"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>법정대리인 동의하기</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents section_contents_bottom_btn">
        <div class="area_num area_num_left">
            <p>
                <em>내 휴대폰</em><span>010-2000-2030</span>
            </p>
        </div>
        <div class="area_info">
            <p class="desc">
                서비스 가입/설정 변경을 위해서는<br>
                <span>법정 대리인 동의 후</span>
                서비스 이용이 가능 합니다.<br>
                법정대리인 동의 서비스 이용 부탁 드립니다.
            </p>
        </div>
        <div class="area_title">
            <span class="title_lg">법정대리인 동의</span>
        </div>
        <div class="area_desc_box">
            <p>
                오프라인 : 휴대폰 개통 시 등록한 법정대리인<br>
                (보호자)과 LG U+ 대리점을 방문하여 서비스 가입에
                대해 법정대리인 허용을 받으시면 가입 및 서비스<br>
                설정이 가능 합니다
            </p>
            <p>
                홈페이지 : U+ 모바일 사이트를 통해 법정대리인<br>
                동의 후 서비스 가입 및 설정이 가능합니다.<br>
                (동의 방법 : SMS 인증)
            </p>
            <p>
                단, 홈페이지를 통한 법정대리인 동의는 <span>자녀의<br>
                휴대폰 개통 시 등록한 법정대리인</span>만 가능합니다. <br>
               (잘못된 법정대리인 정보가 입력 되었을 경우,<br>
                LG U+ 대리 점 방문을 통해 고객정보 수정을<br>
              부탁 드립니다.)
            </p>
        </div>
        <div class="area_check_field">
            <input type="checkbox" class="check_box check_box_sm" id="check_box3">
            <label for="check_box3">법정대리인 본인은 상기 미성년자의 데이터 상품권<br>
                구입에 동의합니다.</label>
        </div>
        <div class="area_check_field">
            <input type="checkbox" class="check_box check_box_sm" id="check_box2">
            <label for="check_box2">법정대리인 본인은 위와 같이 개인정보 수집 이용에<br>
                동의합니다.</label>
        </div>
    </div>
    <div class="section_bottom_btn">
        <div class="btn_wrap">
            <button class="btn btn_bottom _press">확인</button>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>