<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>

<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <a href="#" class="header_btn header_btn_left"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>데이터 요청하기</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press _btnGnbOpen">
            <i class="sprite sprite_common sprite_icon_nav"></i>
        </a>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents section_gift ">
        <div class="area_request">
            <p>
                우리 가족에게<br>
                데이터를 요청해 보세요
            </p>
            <div class="wrap_family_list">
                <p>요청할 사람</p>
                <ul class="clearfix">
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class="_press">
                            <em><i class="sprite sprite_main sprite_icon_family"></i></em>
                            <span>유*비</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class="_press">
                            <em><i class="sprite sprite_main sprite_icon_family_2"></i></em>
                            <span>꼬*비</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class="_press">
                            <em><i class="sprite sprite_main sprite_icon_family_3"></i></em>
                            <span>아*지</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class="_press">
                            <em><i class="sprite sprite_main sprite_icon_family_4"></i></em>
                            <span>아*지</span>
                        </a>
                    </li>
                </ul>
                <div class="popup_select">
                    <div class="popup_body">
                        <a href="#" class="btn_close _press">
                            <i class="sprite sprite_common sprite_icon_popup_close"></i>
                        </a>
                        <i class="sprite sprite_page sprite_icon_face"></i>
                        <div class="txt">
                            <p>아*지</p>
                            <span>010-**81-**34</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area_share_txt">
                <p>요청 메시지</p>
                <textarea class="textarea_box" placeholder=" 메시지를 입력해 주세요."></textarea>
                <span class="text_count"><em>0 </em>/ 80</span>
            </div>
            <div class="btn_wrap">
                <button class="btn btn_bottom btn_round btn_md ">요청하기</button>
            </div>
        </div>
    </div>
    <!-- // wrap_contents -->
</div>

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>