<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_alarm"></i>
            <em class="coupon_num">3</em>
        </a>
        <span>페이지 헤더</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press">
            <i class="sprite sprite_common sprite_icon_share"></i>
        </a>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press">
            <i class="sprite sprite_common sprite_icon_nav"></i>
        </a>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents section_contents_bottom_btn">
        contents
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>contents</p>
        <p>last contents</p>
    </div>
    <div class="section_bottom_btn">
        <div class="btn_wrap clearfix btn_wrap_col_2">
            <!--disabled 클래스 추가 시 disabled됨-->

            <!--<a href="#" class="btn btn_bottom">버튼</a>-->
            <button class="btn btn_bottom disabled _press">버튼</button>
            <input type="button" class="btn btn_bottom _press" value="버튼">
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>

</body>
</html>