<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_all popup_all_dark">
    <!-- wrap_header -->
    <div class="popup_header">
        <span>Indicator Area</span>
    </div>
    <!-- // wrap_header -->
    <div class="wrap_contents">
        <div class="section_contents section_contents_bottom_btn">
            <div class="area_txt">
                공지팝업 상세내용
            </div>
            <div class="area_btn area_btn_md">
                <div class="btn_wrap">
                    <a href="#" class="btn">바로가기</a>
                </div>
            </div>
        </div>
        <div class="section_bottom_btn">
            <div class="btn_wrap btn_checkbox_wrap">
                <span class="field_check_box">
                     <input type="checkbox" class="check_box"><label>다시 보지 않기</label>
                </span>
                <a href="#" class="btn btn_bottom">닫기</a>
            </div>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/ui/ui.common.js"></script>
</body>
</html>