<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <div class="popup">
        <div class="popup_body popup_checkbox_bottom">
            <div class="txt_desc">
                중요 업데이트가 있습니다. <br>
                새 버전으로 업데이트 하셔야 <br>사용 가능합니다
            </div>
            <div class="field_check_box">
                <input type="checkbox" class="check_box">
                <label>다시 보지 않기</label>
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap">
                <a href="#" class="btn">확인</a>
            </div>
        </div>
    </div>
</div>

<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/ui/ui.common.js"></script>
</body>
</html>