<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page Popup</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_all">
    <div class="popup_header">
        <span>Popup Header</span>
        <a href="#" class="header_btn header_btn_right _press"><i class="sprite sprite_common sprite_icon_close"></i></a>
    </div>
    <div class="popup_body popup_full">
        contents
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>