<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <div class="popup">
        <div class="popup_body">
            가나다라마바사아자차카파타하
        </div>
        <div class="popup_footer">
            <div class="btn_wrap clearfix btn_wrap_col_2">
                <a href="#" class="btn">취소</a>
                <a href="#" class="btn">설정</a>
            </div>
        </div>
    </div>
</div>
<script src="../../js/lib/jquery-3.2.1.min.js"></script>
<script src="../../js/ui/ui.common.js"></script>
</body>
</html>