<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<!--<img src="../../resources/images/psd/00.%20GNB/03_공유하기.png" alt="" class="psd_img">-->
<div class="popup_all">
    <div class="popup_header">
        <span>데이터 현황 공유하기</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press"><i class="sprite sprite_common sprite_icon_close"></i></a>
    </div>
    <div class="popup_body popup_full">
        <div class="section_contents  section_share">
            <div class="area_share_chart bg_share">
                <div class="wrap_area bad">
                    <div class="area_chart_desc">
                        <div>
                            <p class="usage_data">
                                <!--disabled 클래스 추가 시 disabled됨-->
                                <a href="#" class=" _press">
                                    <span>1,200<em>MB</em></span>
                                    <i class="sprite sprite_main sprite_icon_more"></i>
                                </a>
                            </p>
                            <span class="whole_data"><span>10,000<em>MB</em></span></span>
                        </div>
                    </div>
                    <div class="area_line_chart area_popup_share">
                        <div>
                            <div class="img_popup_share">
                                <!-- great, good, normal, bad-->
                                <span class="bad"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="area_share_txt">
                <p><i class="sprite sprite_main sprite_icon_message"></i> 메시지 입력</p>
                <textarea class="textarea_box" placeholder="데이터 현황 공유 메시지를 입력해 주세요."></textarea>
            </div>
            <ul class="clearfix area_sns_list">
                <li>
                    <a href="#" class="_press">
                        <i class="sprite sprite_main sprite_icon_kakao"></i>
                        <span>카카오톡</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="_press">
                        <i class="sprite sprite_main sprite_icon_line"></i>
                        <span>라인</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="_press">
                        <i class="sprite sprite_main sprite_icon_facebook"></i>
                        <span>페이스북</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="_press">
                        <i class="sprite sprite_main sprite_icon_text"></i>
                        <span>문자</span>
                    </a>
                </li>
            </ul>
            <div class="btn_wrap">
                <button class="btn btn_bottom btn_round btn_md">공유하기</button>
            </div>
        </div>

    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>