<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<!--<img src="../../resources/images/psd/01_Menu_02_가족.png" alt="" class="psd_img">-->
<div class="popup_dim">
    <div class="popup_gnb" style="right: 0">
        <div class="popup_header">
            <div class="header_icon">
                <img src="../../resources/images/img_gnb_character.png" alt="">
            </div>
            <div class="area_gnb_txt">
                <span>홍길동</span><em>LTE34</em>
                <p>010-12**-56**</p>
                <!--disabled 클래스 추가 시 disabled됨-->
                <a href="#" class="gnb_btn_family _press">가족결합 현황</a>
            </div>
            <!--disabled 클래스 추가 시 disabled됨-->
            <a href="#" class="header_btn header_btn_right _press">
                <i class="sprite sprite_main sprite_icon_close_white"></i>
            </a>
        </div>
        <div class="popup_body">
            <div class="section_contents ">
                <ul class=" area_gnb_list area_gnb_col_3 clearfix">
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class= "_press" >
                            <i class="sprite sprite_main sprite_gnb_charge"></i>
                            <span>충전하기</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class="_press ">
                            <i class="sprite sprite_main sprite_gnb_gift"></i>
                            <span>선물하기</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class="_press">
                            <i class="sprite sprite_main sprite_gnb_usage"></i>
                            <span>이용내역</span>
                        </a>
                    </li>
                </ul>
                <ul class=" area_gnb_list_2 area_gnb_col_3 clearfix">
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#">
                            <i class="sprite sprite_main sprite_gnb_notice"></i>
                            <span>공지사항</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#">
                            <i class="sprite sprite_main sprite_gnb_evnet"></i>
                            <span>이벤트</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#">
                            <i class="sprite sprite_main sprite_gnb_coupon"></i>
                            <span>쿠폰</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#">
                            <i class="sprite sprite_main sprite_gnb_customer"></i>
                            <span>고객센터</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#">
                            <i class="sprite sprite_main sprite_gnb_setting">
                                <em class="icon_new">N</em>
                            </i>
                            <span>설정</span>
                        </a>
                    </li>
                    <li>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#">
                            <i class="sprite sprite_main sprite_gnb_logout"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="popup_footer">
            <p>친구를 초대해서 즐겁게<br>
                데이터를 주고받아 보세요!</p>
            <!--disabled 클래스 추가 시 disabled됨-->
            <a href="#" class="_press">
                <i class="sprite sprite_main sprite_icon_gnb_more"></i>
            </a>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>