<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<!--<img src="../../resources/images/psd/02_알림함.png" style="width: 360px;position: absolute;top: -25px;left: 0;z-index: 500;opacity: 0.5" alt="">-->
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>알림함</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press"><i class="sprite sprite_common sprite_icon_nav"></i></a>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents wrap_main">
    <div class="section_contents">
        <div class="area_notice_list">
            <!--<a href="#" class="all_read disabled">전체읽음</a>-->
            <ul>
                <li>
                    <a href="#"  class="_press disabled" >
                        <span class="left">
                            <i class="sprite sprite_common sprite_icon_period"></i>
                        </span>
                        <div class="notice_title">
                            <span>가족사랑데이터</span>
                            <p>가족사랑 데이터의 사용기간이 7일<br> 남았습니다.</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press">
                        <span class="left"> <i class="sprite sprite_common sprite_icon_profile"></i></span>
                        <div class="notice_title">
                            <span>데이터 요청하기</span>
                            <p>김태숙님이 데이터를 요청하셨어요.<br>
                            "데이터 조금만 ㅠ.ㅠ"</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press">
                        <span class="left"> <i class="sprite sprite_common sprite_icon_profile"></i></span>
                        <div class="notice_title">
                            <span>데이터 요청하기</span>
                            <p>안송이님이 데이터를 요청하셨어요.<br>
                            "데이터 조금만 ㅠ.ㅠ"</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press">
                        <span class="left"> <i class="sprite sprite_common sprite_icon_profile"></i></span>
                        <div class="notice_title">
                            <span>데이터 요청하기</span>
                            <p>남묵주님이 데이터를 요청하셨어요.<br>
                            "데이터 조금만 ㅠ.ㅠ"</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press">
                        <span class="left"> <i class="sprite sprite_common sprite_icon_profile"></i></span>
                        <div class="notice_title">
                            <span>데이터 요청하기</span>
                            <p>남묵주님이 데이터를 요청하셨어요.<br>
                            "데이터 조금만 ㅠ.ㅠ"</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="_press">
                        <span class="left"> <i class="sprite sprite_common sprite_icon_profile"></i></span>
                        <div class="notice_title">
                            <span>데이터 요청하기</span>
                            <p>남묵주님이 데이터를 요청하셨어요.<br>
                            "데이터 조금만 ㅠ.ㅠ"</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
            </ul>
            <!--disabled 클래스 추가 시 disabled됨-->
            <a href="#" class="more _press">
                <i class="sprite sprite_main sprite_icon_btn_more"></i>
                <span>더보기</span>
            </a>
        </div>
    </div>

</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>