<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_alarm"></i>
            <em class="coupon_num">3</em>
        </a>
        <span>내 데이터</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press">
            <i class="sprite sprite_common sprite_icon_share"></i>
        </a>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press _btnGnbOpen">
            <i class="sprite sprite_common sprite_icon_nav"></i>
        </a>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents wrap_main">
    <div class="section_contents section_main bg_home section_contents_bottom_btn">
        <!--데이터 매우 많을 경우 great / 많을 경우 good / 데이터 보통일 경우 normal / 데이터 부족할 경우 bad 클래스 추가-->
        <div class="wrap_area great">
            <div class="area_chart_desc">
                <div>
                    <p class="usage_data">
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <a href="#" class=" _press">
                            <span>8,320<em>MB</em></span>
                            <i class="sprite sprite_main sprite_icon_more"></i>
                        </a>
                    </p>
                    <span class="whole_data"><span>10,000<em>MB</em></span></span>
                </div>
            </div>
            <div class="area_line_chart">
                <div>
                    <div class="num_line">
                        <p><span>10</span></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p><span>5</span></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p><span>0</span></p>
                    </div>
                    <div class="num_line">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="whole">
                        <div class="whole_inner">
                            <i class="sprite sprite_main sprite_icon_data_whole"></i>
                        </div>
                        <div class="usage" style="height: 64%;">
                            <i class="sprite sprite_main"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_bottom_btn">
        <div class="btn_wrap clearfix btn_wrap_col_2">
            <!-- a링크 버튼 :  disabled 시 disabled 클래스 추가 -->
            <a href="#" class="btn btn_bottom _press">충전하기</a>
            <!-- a링크 외 태그 : disabled 상태 추가 -->
            <button class="btn btn_bottom _press">선물하기</button>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<!-- gnb -->
<div class="popup_gnb _gnb">
    <div class="popup_header">
        <div class="header_icon">
            <img src="../../resources/images/img_gnb_character.png" alt="">
        </div>
        <div class="area_gnb_txt">
            <span>홍길동</span><em>LTE34</em>
            <p>010-12**-56**</p>
        </div>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press _btnGnbClose">
            <i class="sprite sprite_main sprite_icon_close_white"></i>
        </a>
    </div>
    <div class="popup_body ">
        <div class="section_contents">
            <ul class=" area_gnb_list area_gnb_col_3 clearfix">
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#" class="_press ">
                        <i class="sprite sprite_main sprite_gnb_charge"></i>
                        <span>충전하기</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#" class="_press ">
                        <i class="sprite sprite_main sprite_gnb_gift"></i>
                        <span>선물하기</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#" class="_press">
                        <i class="sprite sprite_main sprite_gnb_usage"></i>
                        <span>이용내역</span>
                    </a>
                </li>
            </ul>
            <ul class=" area_gnb_list_2 area_gnb_col_3 clearfix">
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#">
                        <i class="sprite sprite_main sprite_gnb_notice"></i>
                        <span>공지사항</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#">
                        <i class="sprite sprite_main sprite_gnb_evnet"></i>
                        <span>이벤트</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#">
                        <i class="sprite sprite_main sprite_gnb_coupon"></i>
                        <span>쿠폰</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#">
                        <i class="sprite sprite_main sprite_gnb_customer"></i>
                        <span>고객센터</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#">
                        <i class="sprite sprite_main sprite_gnb_setting">
                            <em class="icon_new">N</em>
                        </i>
                        <span>설정</span>
                    </a>
                </li>
                <li>
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <a href="#">
                        <i class="sprite sprite_main sprite_gnb_logout"></i>
                        <span>로그아웃</span>
                    </a>
                </li>
            </ul>

        </div>

    </div>
    <div class="popup_footer">
        <p>친구를 초대해서 즐겁게<br>
            데이터를 주고받아 보세요!</p>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#">
            <i class="sprite sprite_main sprite_icon_gnb_more"></i>
        </a>
    </div>
</div>
<div class="popup_dim _gnbDim" style="display: none; opacity: 0"></div>
<!-- //gnb -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/lib/velocity.min.js"></script>
<script src="../../resources/js/lib/velocity.ui.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
<script>
    //gnb 열기 외부함수
    //oLgUi.gnbOpen();

    //gnb 닫기 외부함수
    //oLgUi.gnbClose();
</script>
</body>
</html>