<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <!--4-1 이용약관 동의 버튼(3-1 항목) 을 선택하지 않았을 경우 -->
    <div class="popup">
        <div class="popup_body popup_notice popup_body_btn">
            <div class="title">데이터 자동 주기 안내</div>
            <div class="txt_desc">
                1. 데이터 자동 주기 안내<br>
                데이터 자동주기는 가족결합 회선에 한해<br>
                최대 4명에게 전달할 수 있습니다.<br>
                또한 가족간 데이터 주고받기 횟수(최대<br>
                4회)에 포함됩니다.
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap btn_wrap_col_2 clearfix">
                <a href="#" class="btn">다시보지않기</a>
                <a href="#" class="btn">닫기</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>