<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">

</div>
<!-- // wrap_header -->
<!--<img src="../../resources/images/psd/09.%20Common/(공통)공지팝업_full%20Popup.png" alt="" class="psd_img">-->
<!-- wrap_contents -->
<div class="wrap_contents ">
    <div class="section_contents ">
        <div class="area_notice_detail area_notice_detail_popup">
            <p class="title">데이터 자동 주기 안내</p>
            <div class="desc">
                1. 데이터 자동 주기 안내<br>
                데이터 자동주기는 가족결합 회선에 한해 최대 4명에게<br>
                전달할 수 있습니다. (1924MB)<br>
                또한 가족간 데이터 주고받기 횟수(최대 4회)에<br>
                포함됩니다.<br>
                <div class="desc">
                </div>
                2. 데이터 선물 내역 확인<br>
                매월 1일 자동으로 나눠주기<br>
                [우측 상단 메뉴 버튼 선택 > 이용내역] 페이지<br>
                에서 확인하실 수 있습니다.
                <div class="desc">
                </div>
                3. 데이터 자동주기 취소<br>
                [우측 상단 메뉴 버튼 선택 > 이용내역] 페이지 의<br>
                “데이터 자동주기 내역”의 “설정해제” 버튼 을 선택하시면<br>
                익월 1일 부터 데이터 자동주기<br>
                예약이 해제됩니다.<br>
                상세안내 > 단, 전달된 데이터는 취소 불가합니다
            </div>
            <a href="#" class="_press txt_btn">공지사항 바로가기</a>
        </div>
    </div>

</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>