<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<!-- wrap_contents -->
<div class="wrap_contents no_header">
    <div class="section_contents section_contents_bottom_btn">
       <div class="area_sign_img">
           <img src="../../resources/images/img_network_error.gif" alt="">
       </div>
        <div class="area_txt">
            <p class="txt_title">네트워크 연결불가 상태입니다.</p>
            <p class="txt_desc">
                네트워크 설정에서 wi-fi에  연결<br>
                하시거나, 모바일 데이터 접속 허용 상태로<br>
                변경 후 사용하시기 바랍니다.<br>
            </p>
            <p class="txt_desc">
                닫기 버튼을 누르시면 앱이 종료됩니다.
            </p>
        </div>
    </div>
    <div class="section_bottom_btn">
        <div class="btn_wrap">
            <button class="btn btn_bottom _press"><i class="sprite sprite_common sprite_icon_refresh_white"></i>새로고침</button>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>