<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <!--휴대폰 인증-->
    <div class="popup">
        <div class="popup_header">
            <p>휴대폰 번호 입력</p>
        </div>
        <div class="popup_body popup_body_btn">
            <div class="txt">
                문자로 전송된 인증번호를 입력해<br>
                주세요
            </div>
            <div class="sms_btn">
                <button class="btn btn_white btn_round _press" >SMS인증요청</button>
            </div>
            <!--인증번호가 맞을 경우 correct 클래스 추가-->
            <div class="_textPlaceholder place_holder_box certification_area correct">
                <input type="text" class="text_box">
                <p class="place_holder"><i class="sprite sprite_charge sprite_icon_lock"></i>인증번호 입력</p>
                <span class="time_limit"><i class="sprite sprite_charge sprite_icon_clock_red"></i>02:23</span>
                <span class="num_correct">올바른 인증 번호 입니다.</span>
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap btn_wrap_col_2 clearfix">
                <a href="#" class="btn btn_light_brown _press">취소</a>
                <a href="#" class="btn _press">예약</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>