<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>

<div class="popup_dim">
    <div class="popup">
        <div class="popup_body popup_body_btn">
            <div class="txt_desc">
                만 14세 가입자는 법정 대리인의 동의가  <br> 있어야 결제가 가능합니다.
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap btn_wrap_col_2 clearfix">
                <a href="#" class="btn btn_light_brown _press">취소</a>
                <a href="#" class="btn _press">확인</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>