<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<div class="popup_dim">
    <div class="popup popup_search">
        <!--연락처 정보 초기화 및 연락처입력-->
        <div class="popup_header">
            <p>받는 사람</p>
        </div>
        <div class="popup_body popup_body_btn">
            <div class="txt_desc">
                받으실 분의 휴대폰 번호를<br>
                입력해 주세요.
            </div>
            <div class="input_field">
                <div class="place_holder_box  _textPlaceholder">
                    <input type="tel" class="text_box">
                    <p class="place_holder"><i class="sprite sprite_charge sprite_icon_phone"></i>휴대폰번호 입력</p>
                </div>
            </div>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap btn_wrap_col_2 clearfix">
                <a href="#" class="btn btn_light_brown _press">닫기</a>
                <a href="#" class="btn _press">확인</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>