<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
</head>
<body>
<!--<img src="../../resources/images/psd/03.%20선물하기/휴대폰인증하기_안내팝업.png" alt="" class="psd_img">-->
<div class="popup_dim">
    <div class="popup">
        <!--내 데이터 나눠주기(데이터 자동 주기 시)-->
        <div class="popup_header">
            <p>데이터 자동주기 안내</p>
        </div>
        <div class="popup_body popup_body_btn">
            <div class="txt_auto_period">
                고객님의 데이터 <span>1,000MB</span>가<br>
                <span>홍*동</span> 님(<span>010-1234-1234</span>)에게<br>
                매월 1일 마다 예약 전달됩니다.
            </div>
            <ul class="txt_auto_order">
                <li>
                    <p> <span class="num">1</span>데이터 자동 주기 안내</p>
                    <p class="desc">
                        데이터 자동주기는 가족결합 회선에 한해<br>
                        최대 2명에게 전달할 수 있습니다.<br>
                        또한 가족간 데이터 주고받기 횟수<br>
                        (최대 4회)에 포함됩니다.
                    </p>
                </li>
                <li>
                    <p> <span class="num">2</span>데이터 선물 내역 확인</p>
                    <p class="desc">
                        <span>[우측 상단 메뉴 버튼 선택 > 이용내역]</span><br>
                        페이지에서 확인하실 수 있습니다.
                    </p>
                </li>
                <li>
                    <p> <span class="num">3</span>데이터 자동주기 취소</p>
                    <p class="desc">
                        데이터 자동주기를 이미 설정한 경우,<br>
                        [우측 상단 메뉴 버튼 선택 > 이용내역]<br>
                        페이지에서 데이터 자동주기를<br>
                        취소하실 수 있습니다.<br>
                        익월 1일부터 데이터 자동주기 예약이<br>
                        해제되나 이미 전달된 데이터는<br>
                        취소 불가합니다.

                    </p>
                </li>
            </ul>
        </div>
        <div class="popup_footer">
            <div class="btn_wrap">
                <a href="#" class="btn">닫기</a>
            </div>
        </div>
    </div>
</div>
<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>