<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>가족사랑 데이터 나눠주기</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents wrap_main">
    <div class="section_contents section_contents_bottom_btn">
        <div class="area_gift_result ">
            <img src="../../resources/images/img_gift_result.png" alt="">
            <div class="desc bg_result_sm">
                <p>
                    <span>가족사랑 데이터 나눠주기</span>가<br>
                    완료되었습니다
                </p>
                <div class="volume">
                    <p>충전량</p>
                    <span> <em>2.0</em>GB</span>
                </div>
                <ul class="list">
                    <li>
                        <span>받는사람</span>
                        <p>010-8080-1234</p>
                    </li>
                    <li>
                        <span>사용기간</span>
                        <p>2019.01.31</p>
                    </li>
                </ul>
            </div>
            <div class="btn_wrap btn_wrap_col_2 clearfix">
                <a href="#" class="gift_btn _press">
                    <i class="sprite sprite_charge sprite_icon_sharing"></i>
                    <span>계속 나누기</span>
                </a>
            </div>
        </div>
    </div>
    <div class="section_bottom_btn">
        <div class="btn_wrap">
            <button class="btn btn_bottom">홈으로</button>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/lib/jquery.bxslider.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>