<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>선물하기</span>
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_right _press"><i class="sprite sprite_common sprite_icon_nav"></i></a>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents">
        <div class="area_num">
            <p>
                <em>받는 사람 </em><span>010-2000-2030</span>
            </p>
            <div class="img">
               <span class="sprite sprite_charge sprite_method_none"></span>
                <p>
                    현재 선물 가능한 방법이 없습니다<br>
                    받는 사람을 변경하거나<br>
                    <span>U+ 데이터 선물방법</span>에 대해 <br>  더 알아보세요
                </p>
            </div>
        </div>
        <div class="area_method_more">
            <ul>
                <li>
                    <a href="#">
                        데이터 주고 받기
                    </a>
                </li>
                <li>
                    <a href="#">
                        데이터 쿠폰
                    </a>
                </li>
                <li>
                    <a href="#">
                        데이터 상품권
                    </a>
                </li>
                <li>
                    <a href="#">
                        가족사랑 데이터
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="area_bottom_btn">-->
            <!--<button class="btn btn_round">더 알아보기</button>-->
        <!--</div>-->
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>