<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>공지사항</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents wrap_main" id="goTop">
    <div class="section_contents">
        <div class="area_notice_list area_home_notice_list">
            <!--<a href="#" class="all_read disabled">전체읽음</a>-->
            <ul>
                <!--고정 게시물일 경우 notice_top 클래스 추가-->
                <li class="notice_top">
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                          <span>  <span class="text_label">중요</span>개인정보 처리방침 변경 안내</span> <i class="sprite sprite_common sprite_icon_new"></i>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <!--고정 게시물일 경우 notice_top 클래스 추가-->
                <li class="notice_top">
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span><span class="text_label">중요</span>서비스 정기점검 안내</span>
                            <p>2018.01.10</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span> <i class="sprite sprite_common sprite_icon_new"></i>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>연휴 고객센터 운영 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>서비스 정기점검 안내</span>
                            <p>2018.01.10</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#"  class="_press " >
                        <div class="notice_title">
                            <span>개인정보 처리방침 변경 안내</span>
                            <p>2018.01.22</p>
                        </div>
                        <!--disabled 클래스 추가 시 disabled됨-->
                        <span class="right"><i class="sprite sprite_common sprite_icon_more_lg"></i></span>
                    </a>
                </li>
            </ul>
            <!--disabled 클래스 추가 시 disabled됨-->
        </div>
    </div>

</div>
<!-- // wrap_contents -->

<a href="#goTop" class="top _press">
    <i class="sprite sprite_common sprite_icon_btn_top"></i>
</a>

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>