<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>이벤트</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents">
       <div class="area_event_detail">
           <div class="event_txt">
               <p class="title">3월 출석체크 이벤트<span class="sprite sprite_common sprite_icon_new"></span></p>
               <p class="period">2018.03.01 ~ 2018.03.31</p>
           </div>
       </div>
        <div class="area_event_check">
            <div class="event_check">
                <svg viewBox="-42 -13 362 50">
                    <path id="curveText" d="M25,29.937c0,0,49.933,15.267,103.919,0
		c0,0,49.014-15.266,102.581-7.767" />
                    <text x="45">
                        <textPath xlink:href="#curveText">
                            2018.03.01 ~ 2018.03.31
                        </textPath>
                    </text>
                </svg>
                <ul class="clearfix">
                    <li class="checked">
                        <div class="num">1</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">2</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">3</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">4</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">5</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">6</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">7</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">8</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">9</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">10</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">11</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">12</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">13</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">14</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">15</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">16</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">17</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">18</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">19</div>
                        <div class="day">DAY</div>
                    </li>
                    <li class="checked">
                        <div class="num">20</div>
                        <div class="day">DAY</div>
                    </li>
                </ul>
            </div>
            <div class="btn_wrap">
                <a href="#" class="btn btn_bottom btn_lmd  disabled btn_complete btn_round _press">응모완료</a>
            </div>
        </div>
        <div class="area_event_info">
            <!--disabled 클래스 추가 시 disabled됨-->
            <a href="#" class="info _press">
                <span>
                     <i class="sprite sprite_charge sprite_icon_info_dark"></i><span>유의사항</span>
                </span>
                <p>출석체크 이벤트 유의사항을 확인해주세요</p>
            </a>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>

</body>
</html>