<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>이벤트</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents" id="goTop">
    <div class="section_contents">
        <div class="area_tabs">
            <div class="tabs tabs_line tabs_col_2 _tabs">
                <ul class="clearfix">
                    <li class="active">
                        <a href="#">진행 중 이벤트</a>
                    </li>
                    <li>
                        <a href="#">종료 된 이벤트</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="area_event_list">
            <div class="contents_none">
                <img src="../../resources/images/img_notice_none.png" alt="">
                <p>진행 중인 이벤트가 없습니다.</p>
            </div>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<!-- top -->
<a href="#goTop" class="top _press">
    <i class="sprite sprite_common sprite_icon_btn_top"></i>
</a>

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>