<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>이벤트</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents">
        <div class="area_tabs">
            <div class="tabs tabs_line tabs_col_2 _tabs">
                <ul class="clearfix">
                    <li>
                        <a href="#">진행 중 이벤트</a>
                    </li>
                    <li class="active">
                        <a href="#">종료 된 이벤트</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="area_tab_contents">
            <div class="event_list">
                <ul>
                    <li class="event_end">
                        <a href="#">
                            <img src="" alt="" style="background: #eeeeee">
                            <p class="title">2018 평창올림픽 기념 이벤트 <span class="sprite sprite_common sprite_icon_new"></span></p>
                            <p class="period">2018.01.02 ~ 2018.03.31 <span><i class="sprite sprite_page sprite_icon_reply"></i>15</span></p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="" alt="" style="background: #eeeeee">
                            <p class="title">데이터 충전앱 런칭 기념 이벤트</p>
                            <p class="period">2018.01.02 ~ 2018.03.31</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="" alt="" style="background: #eeeeee">
                            <p class="title">2018 평창올림픽 기념 이벤트</p>
                            <p class="period">2018.01.02 ~ 2018.03.31</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>