<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <!--disabled 클래스 추가 시 disabled됨-->
        <a href="#" class="header_btn header_btn_left _press"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>이벤트</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents">
    <div class="section_contents section_contents_bottom_btn">
       <div class="area_event_detail">
           <div class="event_txt">
               <p class="title">2018 평창올림픽 기념 이벤트 <span class="sprite sprite_common sprite_icon_new"></span></p>
               <p class="period">2018.01.02 ~ 2018.03.31</p>
           </div>
           <div class="event_img">
               <img src="" alt="" style="background: #eeeeee;height:371px;">
           </div>
           <div class="reply_list">
               <div class="reply">
                   <span>댓글 <em>53</em></span>
               </div>
               <a href="#" class="btn_refresh _press"><i class="sprite sprite_page sprite_icon_refresh"></i></a>
               <ul>
                   <li>
                      <p class="title">꼭 이벤트 당첨되고 싶어요 ~ 주세요 ~!!</p>
                       <span class="num">010-12**-87** 님</span>

                   </li>
                   <li>
                      <p class="title">좋아요 ~</p>
                       <span class="num">010-12**-87** 님</span>
                   </li>
                   <li>
                      <p class="title">참여합니다.</p>
                       <span class="num">010-12**-87** 님</span>
                   </li>
                   <li>
                      <p class="title">당첨되고 싶어요~</p>
                       <span class="num">010-12**-87** 님</span>
                   </li>
                   <li>
                      <p class="title">좋아요 ~</p>
                       <span class="num">010-12**-87** 님</span>
                   </li>
                   <li>
                      <p class="title">꼭 이벤트 당첨되고 싶어요 ~ 주세요 ~!!</p>
                       <span class="num">010-12**-87** 님</span>
                   </li>
               </ul>
               <!--disabled 클래스 추가 시 disabled됨-->
               <a href="#" class="more _press">
                   <i class="sprite sprite_main sprite_icon_btn_more"></i>
                   <span>더보기</span>
               </a>
           </div>
       </div>
    </div>
    <div class="section_bottom_btn">
        <div class="btn_wrap">
            <!-- a링크 버튼 :  disabled 시 disabled 클래스 추가 -->
            <a href="#" class="btn btn_bottom _press">댓글 등록</a>
        </div>
    </div>
</div>
<!-- // wrap_contents -->

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>