<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>Page</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/style.css"/>
    <style>
    </style>
</head>
<body>
<!-- wrap_header -->
<div class="wrap_header">
    <div class="section_header">
        <a href="#" class="header_btn header_btn_left"><i class="sprite sprite_common sprite_icon_pre"></i>
        </a>
        <span>쿠폰함</span>
    </div>
</div>
<!-- // wrap_header -->

<!-- wrap_contents -->
<div class="wrap_contents wrap_main">
    <div class="section_contents section_contents_bottom_btn section_main">
        <div class="area_coupon_box none">
            <p>
                보유하신 쿠폰을 U+를 이용하시는<br>
                고객님께 선물하거나 사용하실 수 있습니다.
            </p>
            <div class="coupon_list list_none">
                <p><span>쿠폰리스트<em>0</em></span>장</p>
                <div class="coupon_none">
                    <div>
                        <i></i>
                        <p>사용할 수 있는 쿠폰이 없습니다</p>
                    </div>
                </div>
                <div class="info_list">
                    <!--disabled 클래스 추가 시 disabled됨-->
                    <div class="info _press">
                        <i class="sprite sprite_charge sprite_icon_info_dark"></i><span>유의사항</span>
                        <a href="#" class="_press">내용을 반드시 확인해주세요</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_bottom_btn">
            <div class="btn_wrap btn_wrap_col_2 clearfix">
                <!-- a링크 버튼 :  disabled 시 disabled 클래스 추가 -->
                <a href="#" class="btn btn_bottom _press">선물하기</a>
                <a href="#" class="btn btn_bottom _press">충전하기</a>
            </div>
        </div>
    </div>
    <!-- // wrap_contents -->
</div>

<script src="../../resources/js/lib/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/ui/ui.common.js"></script>
</body>
</html>